.CreatePost {
    margin: 20px 0;
  
    &__title {
      margin-right: 20px;
    }
  
    &__input {
      width: 500px;
      height: 100px;
      overflow: auto;
      margin-right: 20px;
      background: linear-gradient(90deg, rgb(251, 251, 251) 0%, rgb(148, 148, 148) 100%);
      border-radius: 10px;
      padding: 15px;
      border: none;
      resize: none;
      outline: none;
    }
}

.home-post {
  border-radius: 20px !important;
  width: 20% !important;
}
.home-content {
  width: 40% !important;
  height: 250px !important;
}