.Home {
    margin: 25px;
    text-align: center;
    font-size: 22px;
  
    &__info {
      margin: 10px;
      text-align: center;
    }
  
    &__description {
      padding: 50px;
      margin-top: 5%;
      font-weight: 535;
    }

    &__hello {
      margin: 50px;
    }

    &__title {
      color: #27b0ff;
    }

    &__title:hover{
      color: #00e8ec;
      cursor: default;
    }
  }